# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Backup Files
*~

# Binary path
lista-1/bin/*
lista-2/bin/*


# Log files
lista-1/log/*
